<!DOCTYPE html>
<html>
  <head>
    <title>Article Template</title>
  </head>
  <body>
    <div class="article">
      <h1 class="article-head">
        <a href="#">Article Title</a>
      </h1>
      <h5 class="article-subhead">
        Posted by <span class="author">Some Body</span> on <span class="pubdate">19th Jan 2011</span>
      </h5>
      <div class="article-content">
        <p>
          Content content content.
        </p>
      </div><!--/article-content-->
    </div><!--/article-->
  </body>
</html>
