<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>1729.org.uk</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Ray Miller's personal web site"> 
    <meta name="author" content="Ray Miller"> 
 
    <!-- Le styles --> 
    <link href="/css/bootstrap-cerulean.css" rel="stylesheet"> 
    <style type="text/css"> 
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style> 
    <link href="/css/tagcloud.css" rel="stylesheet">
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
 
    <!-- Le fav and touch icons --> 
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico"> -->
  </head> 
 
  <body> 
 
    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container-fluid"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="#">1729.org.uk</a>
          <!--
          <div class="btn-group pull-right"> 
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 
              <i class="icon-user"></i> Username
              <span class="caret"></span> 
            </a> 
            <ul class="dropdown-menu"> 
              <li><a href="#">Profile</a></li> 
              <li class="divider"></li> 
              <li><a href="#">Sign Out</a></li> 
            </ul> 
          </div> 
          -->
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li><a href="/">Home</a></li>
              <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a> 
                <ul id="categories" class="dropdown-menu"> 
                  <li><a href="#">Action</a></li> 
                  <li><a href="#">Another action</a></li> 
                  <li><a href="#">Something else here</a></li> 
                </ul> 
              </li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> 
            </ul> 
          </div><!--/.nav-collapse --> 
        </div> 
      </div> 
    </div> 
 
    <div class="container-fluid"> 
      <div class="row-fluid">
        <div class="span9"> 

          <div id="info-msg" class="alert alert-info">
          </div>

          <div id="main-content">
            <div class="article">
              <h1 class="article-head">
                <a href="#">Article Title</a>
              </h1>
              <h5 class="article-subhead">
                Posted by <span class="author">Some Body</span> on <span class="pubdate">19th Jan 2011</span>
              </h5>
              <div class="article-content">
                <p>
                  Content content content.
                </p>
              </div><!--/article-content-->
              <a href="#" class="btn btn-primary pull-right">Read More</a>
            </div><!--/article-->
          </div><!--/main-content-->

        </div><!--/span-->
        
        <div class="span3"> 
          <div id="about" class="well">
            <h1>About</h1>
            <p>
              This is the personal web site of Ray Miller, a software
              developer and one-time mathematician living in
              Cambridge, UK.
            </p>
          </div>         
          <div id="tagcloud" class="well tags">
            <h1>Tag Cloud</h1>
	    <ul>
	      <li class="tag1"><a href="#">Lorem ipsum</a></li> 
	      <li class="tag2"><a href="#">Dolor sit amet</a></li>
	      <li class="tag3"><a href="#">Consectetur adipiscing elit</a></li>
	      <li class="tag2"><a href="#">Proin </a></li>
	      <li class="tag4"><a href="#">Sagittis libero</a></li>
	      <li class="tag1"><a href="#">Aliquet augue</a></li>
	      <li class="tag1"><a href="#">Quisque dui lacus</a></li>
	      <li class="tag5"><a href="#">Consequat</a></li>
	      <li class="tag2"><a href="#">Dictum non</a></li>
	      <li class="tag1"><a href="#">Venenatis et tortor</a></li>
	      <li class="tag3"><a href="#">Suspendisse mauris</a></li>
              <li class="tag6"><a href="#">Foo bar</a></li>
	      <li class="tag4"><a href="#">In accumsan </a></li>
	      <li class="tag1"><a href="#">Egestas neque</a></li>
	      <li class="tag5"><a href="#">Mauris eget felis</a></li>
	      <li class="tag1"><a href="#">Suspendisse</a></li>
	      <li class="tag2"><a href="#">condimentum eleifend nulla</a></li>
	    </ul>
          </div><!--/.well -->
        </div><!--/span--> 
      </div><!--/row--> 
 
      <hr> 
 
      <footer> 
        <p>&copy; Ray Miller 2012</p> 
      </footer> 
 
    </div><!--/.fluid-container--> 
 
    <!-- Le javascript
    ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="/js/jquery-1.7.2.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
  </body> 
</html>
