.tags ul {
    margin: 1em 0;
    padding: .5em 10px;
    text-align: center;
}

.tags li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.tags li a {
    text-decoration: none;
    padding: 0 2px;	
}

.tags li a:hover {    
    text-decoration: underline;
}

.tag1 {
    font-size: 100%;
}
.tag2 {
    font-size: 120%;
}
.tag3 {
    font-size:140%;
}
.tag4 {
    font-size:160%;
}
.tag5 {
    font-size:180%;
}
.tag6 {
    font-size:200%;
}
